.LoadingCont {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
}

.loadingText {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: crimson;
}
